.mat-form-field{
    width: 100%;
  }
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .center{
    height: 15em;
    width: 15em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
  }