<div style="display: block" *ngIf="data.type=='performance'">
  <span style="float:right">
    <button mat-button [mat-dialog-close]="true">close</button>
  </span>
  <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>

<div style="display: block" *ngIf="data.type=='lateness'">
    <span style="float:right">
        <button mat-button [mat-dialog-close]="true">close</button>
      </span>
  <h2 style="text-align:center">Student Lateness Record</h2>
  <!-- <button (click) = 'onRemove()' *ngIf ='isFilter' >X</button> -->
  <mat-accordion>
    <mat-expansion-panel  style="width:18rem" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field style="width:7rem">
        <mat-select placeholder="Choose Year" (change)="year = $event"   >
          <mat-option *ngFor="let year of years" [value]="year"  >
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:7rem">
        <mat-select placeholder="Choose Month" (change)="month = $event" >
          <mat-option *ngFor="let month of months" [value]="month" >
            {{ month }}
          </mat-option>
        </mat-select>
      </mat-form-field>
   
    </mat-expansion-panel>
   
  </mat-accordion>
  <mat-table #table [dataSource]="dataSource" matSort *ngIf ="isRecord">

    <!-- Position Column -->
    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="reason">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Reason </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.reason}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.time}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Day </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.createdAt| date :'fullDate' }} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <h2 *ngIf ='!isRecord'> No Record Found!</h2>

</div>

