<div style="display: block" >
    <span style="float:right">
        <button mat-button [mat-dialog-close]="true">close</button>
      </span>
  <h2 style="text-align:center">Student Meeting Record</h2>
  <!-- <button (click) = 'onRemove()' *ngIf ='isFilter' >X</button> -->
  <mat-accordion>
    <mat-expansion-panel  style="width:18rem" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field style="width:7rem">
        <mat-select placeholder="Choose Year" (change)="year = $event"   >
          <mat-option *ngFor="let year of years" [value]="year"  >
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:7rem">
        <mat-select placeholder="Choose Month" (change)="month = $event" >
          <mat-option *ngFor="let month of months" [value]="month" >
            {{ month }}
          </mat-option>
        </mat-select>
      </mat-form-field>
   
    </mat-expansion-panel>
   
  </mat-accordion>
  <mat-table #table [dataSource]="dataSource" matSort *ngIf='isRecord'>

    <!-- Position Column -->
    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.title}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="sendto">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Teacher </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.sendto}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Approve Status </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.status ? 'Approved' : 'Pending'}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="isDone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Meeting Status </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.isDone? 'completed' : 'Pending'}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Day </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.date| date :'fullDate' }} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <h2 *ngIf ='!isRecord'> No Record Found!</h2>

</div>