<div class="example-container mat-elevation-z8">
  <span><h2 style="text-align:center">Student Management <button mat-raised-button style="float:right; background-color:limegreen;color:white; margin-top:2rem;margin-right:2rem;" (click)="onAdd()">Add new Student</button></h2>
  </span>
    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
       <!-- Name Column -->
       <ng-container matColumnDef="enrollmentno">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Enrollment Number </mat-header-cell>
          <mat-cell *matCellDef="let student"> {{student.enrollmentno}} </mat-cell>
        </ng-container>
      
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.name}} </mat-cell>
    </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let student"> {{student.email}} </mat-cell>
      </ng-container>

       <!-- Name Column -->
     <ng-container matColumnDef="dateofbirth" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </mat-header-cell>
        <mat-cell *matCellDef="let student"> {{student.dateofbirth| date: 'dd/MM/yyyy'}} </mat-cell>
      </ng-container>


    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let student"> <mat-icon matTooltip="Edit" [matTooltipPosition]="position" svgIcon="edit" (click)="onEdit(student.userid)"></mat-icon>
                                           <mat-icon matTooltip="Attendence" [matTooltipPosition]="position" svgIcon="attendence" (click)="onAttendence(student.id)"></mat-icon>
                                           <mat-icon matTooltip="Performance" [matTooltipPosition]="position" svgIcon="performance" (click)="onPerformance(student.id)"></mat-icon>
                                           &nbsp;&nbsp;
                                           <mat-icon matTooltip="lateness" [matTooltipPosition]="position" svgIcon="late" (click)="onLate(student.userid)"></mat-icon>
                                           <mat-icon matTooltip="meetings" [matTooltipPosition]="position" svgIcon="meeting" (click)="onMeeting(student.userid)"></mat-icon>
                                           <mat-icon matTooltip="message" [matTooltipPosition]="position" svgIcon="message" (click)="onMessage(student.userid)"></mat-icon>
                                           &nbsp;&nbsp;
                                           <mat-icon matTooltip="remove" [matTooltipPosition]="position" svgIcon="remove" (click)="onRemove(student.userid)"></mat-icon>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
</div>