<div class="main-div">
  <mat-card class="z-depth center" flex="50" *ngIf = '!isUpdate'>
    <h1 class="text-center">Add New Teacher</h1>
    <button mat-raised-button color="primary" (click)='backClicked()'>Back</button>
    <form [formGroup]="newTeacher" (ngSubmit)="onAddTeacher(newTeacher)" >
      <div class="example-container">

        <mat-form-field>
          <input matInput placeholder="User Name" formControlName="userName">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="email" formControlName="emailId" placeholder="Email">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Phone Number" formControlName="phoneNo">
        </mat-form-field>
        <div class="button-row" style="float:right">
          <div style="float:right">
            <button mat-raised-button style="background-color: #6ab97b;" type="submit" [disabled]="!newTeacher.valid" *ngIf ='!isSave'>Save</button>
            <button mat-raised-button disabled *ngIf ='isSave' style="background: url('../../assets/img/loading_blue.gif') no-repeat;
            background-size: 100%;">Loading</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="warn" type="button" (click)='backClicked()'>Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>

    <!-- On Update -->
    <mat-card class="z-depth center" flex="50" *ngIf="isUpdate">
        <h1 class="text-center">Update Teacher</h1>
        <button mat-raised-button color="primary" (click)='backClicked()'>Back</button>
        <form [formGroup]="teacher" (ngSubmit)="onUpdateTeacher(teacher)">
          <div class="example-container">
            <mat-form-field>
              <input matInput formControlName="name" placeholder="Name">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="emailId" placeholder="Email">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="phoneNo" placeholder="Phone Number">
            </mat-form-field>

            <div class="button-row" style="float:right">
              <div style="float:right">
                <button mat-raised-button style="background-color: #6ab97b;" type="submit">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="warn" type="button" (click)='backClicked()'>Cancel</button>
              </div>
            </div>
          </div>
        </form> 
  </mat-card>
</div>
