<div style="padding-top: 2rem;">
  <mat-card style="margin-top: 2.3rem;">
    <div class="text-center" style="margin-top: -5rem;">
      <img src="../../assets/img/dummy.png" class="img-fluid" alt="Student" style="height: 10rem;border-radius: 50%;" />
      
         <p style="font-size:larger">Sanjay Kumar</p>
         <p style="font-size:larger">20 April 1991</p>
         <p style="font-size:larger">9999666485</p>
         <p style="font-size:larger">mygmail@gmail.com</p>
         <hr>
         <h3>Parent Detail</h3>
         <hr>
    </div>
  </mat-card>

</div>
