<mat-sidenav-container class="example-container" *ngIf='isLogin'>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events(true)" (closed)="events(false)">
    <app-navbar></app-navbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="row">
      <div class="col-lg-1">
   <p *ngIf='isOpen'>
      <button (click)="sidenav.toggle()" mat-mini-fab color="warn">-</button>
    </p>
    <p *ngIf='!isOpen'>
      <button (click)="sidenav.toggle()" mat-mini-fab color="warn">+</button>
    </p>
  </div><div class="col-lg-8"></div>
  <div class="col-lg-3">
   
  </div>
  </div>
    <router-outlet *ngIf='isLogin'></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf='!isLogin'></router-outlet>
