<div class="example-container">
  <h2 class="text-center">Message to be send.</h2>
  <mat-form-field>
    <mat-select placeholder="Choose message" (change)="message = $event">
      <mat-option *ngFor="let message of messages" [value]="message">
        {{ message }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf='isMessage'>
    <textarea matInput placeholder="Message" value={{inputMessgae}}></textarea>
  </mat-form-field>
  <mat-form-field *ngIf='isMessage'>
    <mat-select placeholder="Select user" (change)="user = $event">
      <mat-option *ngFor="let user of users" [value]="user">
        {{ user }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf='isMessage'>
    <input matInput [matDatepicker]="dp" placeholder="Date" >
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>

</div>
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-2" *ngIf='isMessage'>
    <button mat-raised-button style="background-color:limegreen;color:white;" (click) = 'onSend()'>Send</button>
  </div>
  <div class="col-lg-2">
    <button mat-raised-button style="background-color:rgb(46, 56, 46);color:white;"  [mat-dialog-close]="true">Close</button>
  </div>
  <div class="col-lg-4"></div>
</div>
