<div  *ngIf="type === 'admin'">
    <div class="Img-logo" style="text-align:center; padding-top:1rem">
        <img src="../../../assets/img/mainlogo.png" alt="" />
      </div>
     <div style="text-align:center"> <mat-list role="list"  style=" padding-top:1rem;">
        <!-- <mat-list-item role="listitem"><a mat-raised-button routerLink="/dashboard">Dashboard</a></mat-list-item> -->
        <mat-list-item role="listitem"><a mat-raised-button routerLink="/admin/student-management">Student</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-raised-button routerLink="/admin/course-management">Course</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-raised-button routerLink="/admin/teacher-management">Teacher</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-raised-button routerLink="/admin/parent-management">Parent</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-raised-button routerLink="/admin/import">Import Data</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-raised-button routerLink="/admin/meeting">Request Meeting</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-raised-button routerLink="/admin/parent-student">Link Parent/Student</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-raised-button routerLink="/admin/student-course">Link Student/Course</a></mat-list-item>
        <mat-list-item role="listitem"><button mat-button  (click)="logout()">Logout</button></mat-list-item>
      </mat-list>
    </div>
</div>



